@import "/src/scss/object/common.scss";

.add-menu-sections-fields-main-container {
  .add-menu-sections-fields-grid {
    .add-menu-sections-fields-add-section-btn-row {
      .add-menu-sections-fields-add-section-btn-col {
        display: flex;
        justify-content: end;
      }
    }

    .add-menu-sections-fields-row {
      margin-top: 1rem;
      .add-menu-seections-fields-col {
        .add-menu-sections-fields-form-label {
          @extend %form-label-common-styles;
        }
      }
    }
  }
}
