@import "/src/scss/settings/variables.scss";
@import "/src/scss/settings/mixins.scss";

.add-restaurant-basic-details-fields-main-container {
  padding-bottom: 1rem;
  .add-restaurant-basic-details-fields-grid {
    margin-top: 1rem;
    .add-restaurant-basic-details-fields-row {
      @include desktop-only {
        margin-top: 1rem;

        &:first-child {
          margin-top: 0;
        }
      }

      .add-restaurant-basic-details-fields-col {
        @include mobile-only {
          margin-top: 1rem;
        }

        .add-restaurant-basic-details-fields-form-control-label {
          font-weight: 600;
          font-size: 1.4rem;
          white-space: nowrap;
          overflow: scroll;

          @include hide-scrollar;
          @include mobile-only {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .add-restaurant-basic-details-fields-add-btn-container {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: end;
  }
}
