.add-restaurant-bank-details-fields-container {
  .add-restaurant-bank-details-fields-grid{
    .add-restaurant-bank-details-fields-row {
      @include desktop-only {
        margin-top: 1rem;

        &:first-child {
          margin-top: 0;
        }
      }

      .add-restaurant-bank-details-fields-row-col {
        @include mobile-only {
          margin-top: 1rem;
        }

        .add-restaurant-bank-details-fields-control-label {
          font-weight: 600;
          font-size: 1.4rem;
          white-space: nowrap;
          overflow: scroll;

          @include hide-scrollar;
          @include mobile-only {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
