.add-menu-fields-container {
  .rs-panel-body {
    .add-menu-fields-grid {
      margin-top: 2rem;

      .add-menu-fields-row {
        margin-top: 1rem;

        &:first-child {
          margin-top: 0;
        }

        .add-menu-fields-col {
          @include mobile-only {
            margin-top: 1rem;
          }

          .add-menu-fields-control-label {
            @extend %form-label-common-styles;
          }
        }
      }
    }

    .add-menu-applied-hours-fields-row {
      margin-top: 1rem;
    }

    .add-menu-fields-remove-available-hours-fields-btn-container {
      margin-top: 1rem;
      display: flex;
      justify-content: flex-end;
    }

    .add-available-hours-fields-btn-container {
      display: flex;
      justify-content: flex-end;
    }
  }
}