@import "/src/scss/settings/mixins.scss";
@import "/src/scss/object/common.scss";

.add-restaurant-bank-details-form-main-container {
  padding-bottom: 1rem;
  margin-top: 1rem;

  .add-restaurant-bank-details-form-fields {
    height: calc(100vh - 25rem);
    overflow: scroll;
    @include hide-scrollar;
  }
}
