@import "/src/scss/settings/mixins.scss";
@import "/src/scss/object/common.scss";
@import "/src/scss/settings/variables.scss";

.add-opening-hours-fields-main-container {
  .add-opening-hours-fields-btn-container {
    display: flex;
    justify-content: flex-end;

    .add-opening-hours-fields-add-fields-btn {
      background-color: #0c88f5 !important;
    }
  }

  .add-opening-hours-field-grid-row {
    @include desktop-only {
      margin-top: 1rem;
    }

    .add-opening-hours-field-grid-col {
      @include mobile-only {
        margin-top: 1rem;
      }

      .add-opening-hours-field-form-label {
        @extend %form-label-common-styles;
      }
    }
  }

  .add-opening-hours-remove-field-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;

    .add-opening-hours-remove-field-btn {
      background-color: #0c88f5 !important;
    }
  }
}
