@import "/src/scss/settings/variables.scss";
@import "/src/scss/settings/mixins.scss";

.login-right-container-main-wrapper {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include desktop-only {
  }
}
