@import "/src/scss/settings/variables.scss";
@import "/src/scss/settings/mixins.scss";

.login-container-image-wrapper-container {
  width: 100%;

  @include desktop-only {
    display: flex;
    height: inherit;
  }

  .login-container-bg-image {
    width: 50%;
    display: none;

    @include desktop-only {
      display: block;
    }
  }

  .login-container-left-wrapper {
    width: 100%;
    padding: 5rem 1rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 5px;

    @include desktop-only {
      padding: 0;
      z-index: 0;
      border-radius: 0;
      width: 50%;
    }

    .login-container-login-form-container {
      margin-top: 1rem;
      width: inherit;

      .login-container-login-form-forget-password-link {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
      }

      .login-container-form-submit-button-container {
        width: 100%;

        .login-container-form-submit-button {
          margin-top: 2rem;
          width: 100% !important;
        }
      }
    }
  }
}
