.menu-list-container {
  margin-top: 1rem;

  .menu-list-add-menu-item-btn-container {
    display: flex;
    justify-content: flex-end;
  }

  .menu-list-empty-main-card {
    height: calc(100vh - 10rem);

    .menu-list-empty-inner-card {
      height: calc(100vh - 20rem);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .menu-list-component-table {
    margin-top: 1rem;
    border-radius: 1rem;
  }
}
