.menu-items-customizer-options-list-common-combos-table {
  box-shadow: $card-box-shadow;
  border-radius: 1rem;

  .menu-items-customizer-options-list-common-combos-table-remove {
    color: $sidebar-color;
    text-decoration: underline;
  }
}
