@import "/src/scss/settings/mixins.scss";
@import "/src/scss/object/common.scss";

.upload-multiple-photos-with-preview-wrapper {
  margin-top: 1rem;

  .upload-multiple-photos-with-preview-btns-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .upload-multiple-photos-empty {
    display: flex;
    gap: 0 !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .upload-multiple-photos-with-preview-container {
    min-height: 30rem;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    border: 2px dashed $input-border-color;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;

    .upload-multiple-photos-uploaded-images-container {
      position: relative;

      .upload-multiple-photos-uploaded-images-container-cancel-icon-container {
        position: absolute;
        top: -1rem;
        right: -1rem;
        cursor: pointer;
        border-radius: 50%;
        background-color: #e3e5ea;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .upload-multiple-photos-uploaded-urls {
        width: 15.2rem;
        height: 15.2rem;
        border-radius: 1rem;

        @include mobile-only {
          width: 8rem;
          height: 8rem;
        }
      }
    }

    .upload-multiple-photos-selected-images {
      width: 15.2rem;
      height: 15.2rem;
      border-radius: 1rem;

      @include mobile-only {
        width: 8rem;
        height: 8rem;
      }
    }

    .upload-multiple-photos-with-preview-input {
      display: none;
    }
  }
}
