//colors
$color-body-background: #f7f9f9;
$color-primary: #e13641;
$sidebar-color: #5449f0;
$sidebar-active-color: #fcfdff;
$sidebar-active-text-color: #5449f0;
$sidebar-default-text-color: #fcfdff;
$sidebar-onhover-color: #fcfdff;
$sidebar-onhover-text-color: #5449f0;
$btn-color: #5449f0;
$btn-color-secondary: #0ca0f5;
$color-secondary: #a3a3a4;
$card-border-radius: 1rem;
$primary-black: #000000;
$primary-white: #ffffff;
$divider-color: #bdc3c7;
$text-grey-one:#b3b6b7;
$text-grey-dark:#626567;
$input-border-color:#e5e5ea;

//box shadows
$card-box-shadow:
  rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

//fontSize 
 $primary-font:1.6rem
