%form-label-common-styles {
  font-weight: 600;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: scroll;

  @include hide-scrollar;

  @include mobile-only {
    font-size: 1rem;
  }
}

%remove-margins {
  margin: 0 !important;
}