.rs-form-control {
  width: 100%;
}

.rs-input-group,
.rs-input-group-inside {
  width: 100% !important;
  border-radius: 3px !important;
}

.rs-form-group {
  width: 100%;
}

.rs-input {
  color: #000000 !important;
  border-radius: 0 !important;
  padding-left: 5px !important;
}

.rs-picker-toggle-value {
  color: #000000 !important;
}


.rs-checkbox-checker {
  font-size: 1.4rem !important;
}

.rs-table-cell {
  width: 100% !important;
}

.rs-form-error-message-show {
  font-weight: 500;
}

.rs-picker-toggle{
  border-radius: 3px !important;
}

.rs-grid-container-fluid {
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: $primary-black;
}

.rs-btn-icon {
  padding: 3px !important;
  border-radius: 50% !important;
}

.rs-tag-group {
  margin: 0 !important;
}

.rs-form-group {
  margin-bottom: 0 !important;
}

.na-rs-input-text-area {
  border-radius: 3px !important;
}

.rs-check-tree-view {
  height: auto !important;
}