@import "/src/scss/settings/mixins.scss";

.login-page-main-container {
  padding: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include desktop-only {
    padding: 0;
  }

  @include tab-only {
    padding: 3rem;
  }
}

.login-page-main-container-bg-image {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/background/top-view-meals-tasty-yummy-different-pastries-dishes-brown-surface-min-min.jpg");
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: fixed;

  @include desktop-only {
    display: none;
  }
}
