.menu-sections-page-wrapper {
  padding: 1rem;

  .menu-section-page-menu-section-list-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem
  }
}
