.common-card-main-container {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #ffffff;

  .rs-panel-title {
    color: #000000;
    font-weight: 700;
  }
}
